.add-gtr-btn{
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: #E30074;
    color: #fafafa;
    border: none;
;
}

.add-gtr-btn:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
}